@charset "UTF-8";
/*
PALETAS DE CORES
#00010D
#585859
#8C8C8C
#F2F2F2
#BFBFBF
*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #030731;
}

main {
    background-color: #030731;
}
/*APRESENTACAO*/
section#apre {
    background-image: linear-gradient(to bottom, #00010D, #030731);
}

#apre {
    color: #F2F2F2;
    text-align: center;
    font-size: 22px;
    height: 400px;
    padding-top: 25vw;
}

#apre h1 {
    color: #ebe9e9e0;
}

.sociais {
    display: inline-block;
    margin: 10px;
    margin-top: 20px;
    width: 100px;
    padding: 8px;
    border: 1px #BFBFBF solid;
    box-shadow: 0px -1px 4px #868686;
}

.sociais a {
    padding: 5px;
    text-decoration: none;
    color: #F2F2F2;
}

/*SOBRE MIM*/
section#sobrem {
    background-color: #030731;
    padding-bottom: 100px;
}

#sobrem {
    padding-top: 50px;
}

#sobrem h1 {
    text-align: center;
    padding: 10px;
    color: #F2F2F2;
}

#sobre {
    display: flex;
    color: #F2F2F2;
    padding-left: 10%;
}

#sobre img {
    height: 270px;
    margin-left: -50px;
}

#sobre p {
    font-weight: bold;
    text-align: justify;
    font-size: 1.1em;
}

/*PROJETO*/
section#container {
    margin-bottom: 40px;
}

section#container h1 {
    color: white;
    text-align: center;
    padding: 20px;
}

section#projt {
    display: flex;
    justify-content: center;
}

article#projetos {
    
    width: 260px;
    margin: 10px;
}

article#projetos img{
    max-width: 115%;
    max-height: 115%;
}

article#projetos p {
    padding-left: 20px;
    color: white;
    font-weight: bold;
    padding-top: 10px;
}

/*RODA PÉ*/
#rodape {
    padding: 17px;
    text-align: center;
    background-color: #585859;
    color: #F2F2F2;
}

