@charset "UTF-8";
/*
PALETAS DE CORES
#00010D
#585859
#8C8C8C
#F2F2F2
#BFBFBF
*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #00010D;
}
/*APRESENTACAO*/
#apre {
    color: #F2F2F2;
    text-align: center;
    margin: 47px;
    font-size: 22px;
}

#apre h1 {
    color: #9e9c9ce0;
}

.sociais {
    display: inline-block;
    margin: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px #BFBFBF solid;
    box-shadow: 0px -1px 4px #868686;
}

.sociais a {
    padding: 5px;
    text-decoration: none;
    color: #F2F2F2;
}

/*SOBRE MIM*/
#sobre {
    color: #F2F2F2;
    margin: 10px;
}

#sobre p {
    text-align: justify;
}

/*RODA PÉ*/
#rodape {
    padding: 17px;
    text-align: center;
    background-color: #585859;
    color: #F2F2F2;
}

