@charset "UTF-8";

article#sobre {
    text-align: center;
    padding: 20px 80px 30px 80px;
}

#sobre p {
    font-weight: bold;
    text-align: justify;
}

#img {
    display: none;
}

/*
PROJETOS
*/
section#projt {
    display: grid;
    justify-content: center;
}

article#projetos {
    margin: 10px;
    height: 165px;
}